<html lang="es">
  <head>
    <style>
      body {
        padding: 25px;
      }
      .logo-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .logo-container img {
        width: 100px;
        margin-top: 10px;
      }
      .header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background: linear-gradient(to right top, #018172, #01ad9f, #018172);
        align-items: center;
        justify-content: center;
        padding: 2em 1em 2em 1em;
      }
      .header div {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .header img {
        width: 300px;
      }
      .header h1 {
        color: white;
        font-size: 50px;
        text-align: center;
      }
      .vacancy-posts {
        background-color: #f2f2f2;
        padding: 2em;
      }
      .vacancy-post {
        display: flex;
        column-gap: 15px;
        padding: 2em 1em 2em 1em;
      }
      .vacancy-post img {
        width: 80px;
        height: max-content;
        object-fit: contain;
        margin-top: 5px;
      }
      .vacancy-post .vacancy-post-info {
        flex-basis: 70%;
      }
      .vacancy-post .vacancy-post-info .numberic {
        background-color: #6bc6ba;
        padding: 4px 8px 4px 8px;
        border-radius: 15px;
        font-size: 14px;
        font-weight: lighter;
        color: white;
      }
      .vacancy-post .apply-btn {
        flex-basis: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .vacancy-post .apply-btn a,
      .see-all-btn a {
        text-decoration: none;
        background-color: #01ad9f;
        color: white;
        padding: 8px 15px 8px 15px;
        border-radius: 5px;
      }
      .see-all-btn {
        display: flex;
        justify-content: center;
        flex-direction: row;
      }
      .vertical-separator {
        height: 10px;
        width: 5px;
        border-color: gray;
        border-style: solid;
        border-width: 0 3px 3px 0;
        margin: auto 3px auto 3px;
      }
      /* smartphones, Android phones, landscape iPhone */
      @media (max-width: 480px) {
        body {
          padding: 0;
        }
        .header {
          display: grid;
          grid-template-columns: 1fr;
        }
        .header h1 {
          font-size: 40px;
        }
        .vacancy-posts {
          padding: 0;
        }
        .vacancy-posts hr {
          margin: 0.5em;
        }
        .vacancy-post {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          padding: 0.5rem 1rem 0.5rem 1rem;
        }
        .vacancy-post .vacancy-post-info h2 {
          font-size: 20px;
        }
        .vacancy-post .vacancy-post-info div span {
          font-size: 14px;
        }
      }
    </style>
  </head>
  <body>
    <div class="logo-container">
      <img
        src="https://res.cloudinary.com/hahu-io/image/upload/v1660721917/hahuIO/images/landing/Hahu_logo2_bzndts.png"
        alt="Hahu jobs logo"
      />
      <img
        src="https://res.cloudinary.com/hahu-io/image/upload/v1660721916/hahuIO/images/landing/Hahu_logo1_vkjhcr.png"
        alt="Hahu jobs logo"
      />
    </div>
    <hr style="margin: 10px auto 10px auto" />
    <div class="header">
      <div>
        <img
          src="https://img.freepik.com/free-vector/transfer-files-landing-page_23-2148296952.jpg?size=626&ext=jpg&ga=GA1.1.2024234264.1684136298&semt=ais"
          alt="Subscription"
        />
      </div>
      <h1>
        Vacancy <br />
        Subscription
      </h1>
    </div>
    <div style="padding: 0.5em; border-radius: 20px">
      <p>
        <span>{{ .NumberOfVacantJobs }}</span>
        <span>new jobs in </span>
        <span>{{ .VacantField}} </span>
        <span>matched your preference</span>
      </p>
      <div class="vacancy-posts">
        {{ range .VacantPositions}}
        <div class="vacancy-post">
          <img src="{{ .CompanyLogoLink}}" alt="Company logo" />
          <div class="vacancy-post-info">
            <h2>
              {{ .PositionTitle}}
              <span class="numberic">{{ .NumberOfLeftPositions}} Left</span>
            </h2>
            <div>
              <span>{{ .CompanyName}}</span>
              <span class="vertical-separator"></span>
              <span>{{ .Address}}</span>
              <span class="vertical-separator"></span>
              <span>{{ .Availability}}</span>
              <span class="vertical-separator"></span>
              <span>{{ .WantedPersonnel}}</span>
            </div>
            <p>{{ .Description}}</p>
          </div>
          <div class="apply-btn">
            <a href="{{ .PositionLink}}">Apply Now</a>
          </div>
        </div>
        <hr />
        {{ end }}
        <div class="see-all-btn">
          <a href="{{ .AllJobsLink}}">See All Jobs</a>
        </div>
      </div>
    </div>
  </body>
</html>
